@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');


* {
  margin:0;
  padding:0;
}

html {
  font-size:12px;
  font-family: 'Mooli', sans-serif;
}

section.notes-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-auto-rows: 250px;
  gap:10px;
  outline:1px solid back; 
  margin:10px; 
}

.notes {
  background-color: yellowgreen;
  border-radius: 5px;
  padding:10px 10px;
}

div.add-note {
  border: 2px dashed grey;
  border-radius: 5px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.display-note, textarea {
  height:90%;
  width:100%;
  resize: none;
  border:none;
  border-radius:5px;
}

textarea:focus {
  outline:none;
}

textarea {
  padding: 10px;
  box-sizing: border-box;
}

footer {
  display:flex;
  justify-content:space-between;
  align-items:center;
  /* border:1px solid red; */
  margin-top:5px;
}

span.controls { 
  padding-right: 10px;
  display:flex;
  height:100%;
  align-items: center;
}

span.controls > * {
  cursor: pointer;
}

button.save {
  border-radius: 0;
  border: 1px solid rgba(225,225,225, 0.5);
  padding: 2px 5px ;
  margin-right:10px;
  font-weight: bold;
}

.delete-btn {
  padding:5px 8px;
}